*{
	box-sizing: border-box;
}

a:link {
	text-decoration: none;
	color: mediumpurple;
}

a: visited {
	color: plum;
}

a: hover {
	color: royalblue;
}

body {
	background-color: rgb(204, 230, 255)
}

	/*   ********************************************************************** -->
	<!-- Header: Top of the page												-->
	<!--	This should stay always on sight even when the user scrolls up/down -->
	<!--    Vivi picture scrolls up, but headerPages remain seen                -->
	<!-- ********************************************************************** */

header {
	
	z-index: 100;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	width: 100%;
}


.Header_Background { 
	height: 150px; 
	background-color: rgb(179, 230, 255);
	margin: 0px;
}

#SocialMedia_Links ul {
	text-align: center;
	margin: 0px;
	background-color: rgb(179, 230, 255);
}

#SocialMedia_Links li {
	display: inline-block;
	font-weight: 500; 
	font-size: 14px;
	padding: 5px 20px;
	letter-spacing: 0.20em;
	white-space: nowrap; 
}

 #headerPages ul {
	background-color: rgb(255, 255, 204);
	border: 3px solid rgb(255, 191, 128);
	text-align: center;
	margin: 0px;
}

#headerPages li {
	display: inline-block;
	font-weight: 700; 
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 100px;
	letter-spacing: 0.20em;
	white-space: nowrap; 
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	z-index: 100;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	width: 100%;
	position: fixed;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 502px;
}

	/*   ********************************************************************** -->
	<!-- Game Projects: Shows what games I have been a part of					-->
	<!--	This should be in rows, showing 3 games								-->
	<!--	Each game comes with an image and name								-->
	<!--	If user clicks on image, takes them to that game's page				-->
	<!-- ********************************************************************** */

.GameProjects {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto;
	padding: 10px 10px;
	z-index: 0;
	margin: 50px 110px;
	margin-bottom: 100px;
	border: 3px solid yellow;
	text-align: center;
	background-color: white;
	opacity: 0.5;
}

.GameProjects h3 {
	opacity: 1.0;
}

.topOfPage {
	position: fixed;
	top: 30px;
	width: 100%;
}

.topOfPage + .content {
  padding-top: 602px;
}

.Footer_Clouds{
	position: fixed;
	z-index: -10;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 300px;
}

.Footer_Grass{
	position: fixed;
	z-index: -1;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 300px;
}

/*   ********************************************************************** -->
	<!-- Game Projects Information: Gives detail for every Project  		-->
	<!-- ******************************************************************* */

.GameInformation {
	display: center;
	padding: 10px 10px;
	z-index: 0;
	margin: 50px 110px;
	margin-bottom: 100px;
	border: 3px solid yellow;
	text-align: center;
	background-color: white;
	opacity: 0.5;
}

#GameName {
	font-size: 30px;
	text-transform: uppercase;
	display: left;
	letter-spacing: 0.15em;
}

